* {
    box-sizing: border-box;
}

:root {
    --primari-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Common */

.btn {
    min-width: 98px;
    /* height: 40px; thay thế bằng padding*/
    border-radius: 12px;
    background: var(--primari-color);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    padding: 18px 10px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.fix-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.hero-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    /* padding-top: 38px; */
    padding: 12px 0;
    /* background-color: orange; */
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline dotted var(--primari-color);
    color: var(--primari-color);
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primari-color);
}

.navbar .action-link:hover {
    color: #2342c0;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 1.5;
}

.hero .title {
    margin-top: 8px;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.18; /* 118.75% */
}

.hero .info {
    width: 51%;
}

.hero .desc {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #5a6473;
    line-height: 1.77; /* 177.778% */
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* Clients */

.clients {
    padding: 43px 0 64px;
    margin-top: 79px;
}

.clients .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients .row p {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    margin-top: 70gpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Guides */

.guides {
    margin-top: 40px;
    padding: 93px 0 73px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .sub-title::before {
    position: absolute;
    content: "";
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    /* display: inline-block; */
    top: -10px;
    left: 50%;
    transform; translatex(-50) ;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    color: #5A6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    margin: 20px auto 0;
    text-align: center;
}

.list-guide {
    display: flex;
justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    color: #3B3C45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-item .link {
display: inline-block;
margin-top: 10px;
color: #0689FF;
font-size: 1.4rem;
font-weight: 600;
}

.guide-item .arrow {
    margin-left: 6px;
    position: relative;
    top: 7px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
    margin-top: 9px;
}

/* Featured */

.featured {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #e6f0ff;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
color: #A3A6AB;
font-size: 1.4rem;
font-weight: 500;
}

.featured .link {
    display: flex;
    align-items: center;
    color: #0689FF;
    font-size: 1.8rem;
    font-weight: 600;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.featured .item {
    flex: 1;
}

.featured .list .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;    
}


.featured .list .thumb:hover {
    opacity: 0.8;
}

.featured .item .body {
    padding: 17px 20px 24px;
}

.featured .item .title  a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 150% */
}

.featured .item .desc {
    /* --line-clamp: 3; */
    /* word-break: break-all; */
    color: #A3A6AB;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 11px;
    line-height: 1.5;
}

.featured .item .info {
    margin-top: 21px;
    display: flex;
    align-items: center;
}

.featured .item .label {
    margin-left: 8px;
    color: #4D4D52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.14px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

/* Stats */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1048px;
}

.stats  .img-block, .stats .info {
    width: 50%;
    position: relative;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats-trend {
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 1px 1px 20px #063183;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
}

.stats .sub-title::before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: -10px;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5A6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.26px;
}

.stats p .desc {
    color: #A7A7A7;
font-size: 1.2rem;
font-weight: 400;
line-height: 1.5; /* 150% */
}

.stats-trend .icon {
    margin-left: auto;
} 

.stats-trend .desc {
    margin-top: 8px;
    color: #A7A7A7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats-trend .separate {
    margin-top: 20px;
    height: 1.2px;
    background-color: #E9E9E9;
}

.stats .avatar-block {
    display: flex;
    margin-top: 26px;
    gap: 16px 14px;
    flex-wrap: wrap;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.stats .qty-desc {
    color: #7B8087;
    font-size: 1.8rem;
    font-weight: 500;
}

.stats .row-qty {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}

/* Subscription */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    margin-top: 39px;
    border-radius: 20px;
    background: #063183;

}

.subscription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #FFF;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.subscription .desc {
    margin-top: 15px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    color: #002366;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #fff;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
    /* background-color: orange; */
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1C1C1D;
    font-family: 'Lato, sans-serif';
    font-size: 2.0rem;
    font-weight: 700;
}

.footer .list, footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a, 
.footer .desc {
    color: #7A7A7E;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;    
}

.footer .item a:hover {
    text-decoration-thickness: 0.09rem !important;
    text-decoration: underline dotted var(--primari-color);
    color: var(--primari-color);
}


.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social img {
    display: flex;
    margin-top: 40px;
    width: 160px;
    height: 46px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-self: center
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    margin-top: 81px;
}

.footer .copyright {
    color: #C2C2C2;
    font-size: 1.4rem;
    font-weight: 400;
}